

 footer {
    background-color: #0081a7;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;  
    padding: 20px 0px 10px 0px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: #fdfcdc;
}

.icon {
    display: flex;
    align-items: center;
    color: #fdfcdc;
    width: 75%;
}

.icon:hover {
    color: khaki !important;
}

.text {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    color: #fdfcdc;
}

li {
    list-style-type: none;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: #fdfcdc;
}

.container {
    display: flex;
}


.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
}


