body{
  background-color: #fdfcdc;
  width: 100vw;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0;
}

.second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bigpic {
  height: 50%;
  width: 50%;
  padding: 2%;
  justify-content: center;
  align-items: center;
}

.array img:hover {
  filter: grayscale(100%);
}

.array1 {
  display: flex;
  flex-direction: row;
  padding: 2%;
  width: 100%;
}

.array {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
}


.text{
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    font-size: medium;
}

.undertext{
  font-size: smaller;
}

.worksize{
  display: flex;
  border-right: 3px solid black;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 40%;
}

.picpart{
  display: flex;
  flex-direction: column;
}

.textpart{
  display: flex;
  flex-direction: column;
}

.profilepicture {
  height: 30%;
  width: 30%;
}

.aboutme {
  width: 75%;
  line-height: 300%;
}